@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

div {
  border: 1px solid #242933;
}

body {
  background-color: #000000;
  opacity: 1;
  font-family: 'DM Sans', sans-serif;
}

#Header {
  height: 100px;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  color: rgb(0, 0, 0);
  font-family: "Cascadia Code";
  color: #e5e9f0;
}

#MainContent {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Cascadia Code";
  color: #e5e9f0;
}

#Footer {
  width: 802px;
  margin-right: auto;
  margin-left: auto;
  height: 50px;
}

#FooterLeft {
  float: left;
  width: 399px;
  height: 50px;
  border: 1px solid #4c566a;
}

#FooterRight {
  float: right;
  width: 399px;
  height: 50px;
  border: 1px solid #4c566a;
}

#faq {
  font-size: 20;
}